
html{
    margin: 0;
}
header{
    margin: 0;
}
nav{
    margin: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 0;

  }
  
  li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
  }
  
  li a:hover {
    background-color: #111;
  }

  body{
      margin: 0;
  }

  section{
      margin: 0;

  }

  .parallax {
    background-image: url('images/section1.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .iconos{
      margin-top: -40px;
      display: flex;
      justify-content: space-around;
      
  }
  i{
      background-color: #333;
      height: 150px;
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      background-size: 100% auto;
      width: 150px;
      text-align: center;
      justify-content: center;
      margin-top: -30px;
      color: white;
      border-style: solid;
      border-width: 10px;
      border-color: white;
  }

  i::before{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
  }

  .texth1{
      padding-top: 100px;
      margin: 0;
      color: white;
      text-align: center;
      font-size: 50px;
  }

  .texth2{
      padding: 25px;
      padding-bottom: 100px;
      margin: 0;
      color: white;
      text-align: center;
  }

  .apartados{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 25px;
  }
  
  div{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  footer{
      background-color: #333;
      color: white;
      padding: 100px;
      margin-top: 25px;
      text-align: end;
  }
  